<%- include('partials/header.ejs') %>
    <h1>Dashboard</h1>
    <h3>Employee ID: </h3>
    <p>
        <%= row.emp_id %>
    </p>
    <h3>Name: </h3>
    <p>
        <%= row.name %>
    </p>
    <h3>Phone: </h3>
    <p>
        <%= row.phone %>
    </p>
    <h3>Email: </h3>
    <p>
        <%= row.email %>
    </p>
    <h3>Access Token: </h3>
    <p>
        <%= row.accessToken %>
    </p>
<%- include('partials/footer.ejs') %>